<server description="Sample Liberty server">

	<featureManager>
		<platform>jakartaee-10.0</platform>
		<platform>microprofile-7.0</platform>
		<feature>restfulWS</feature>
		<feature>jsonb</feature>
		<feature>jsonp</feature>
		<feature>cdi</feature>
		<feature>mpConfig</feature>
		<feature>mpRestClient</feature>
		<feature>appSecurity</feature>
		<!-- <feature>servlet</feature> -->
		<feature>mpJwt</feature>
		<feature>persistence</feature>
		<feature>mpRestClient</feature>
		<feature>mpOpenAPI</feature>
	</featureManager>

	<variable name="http.port" defaultValue="8080" />
	<variable name="https.port" defaultValue="8443" />
	
 
	<keyStore id="defaultKeyStore" password="password" /> 
 
	<httpEndpoint host="*" httpPort="${http.port}" httpsPort="${https.port}" id="defaultHttpEndpoint" />

	<webApplication location="user-ms.war" contextRoot="/" />

	<library id="jdbcLib">
		<fileset dir="jdbc" includes="*.jar" />
	</library>

	<dataSource jndiName="jdbc/userDB">
		<jdbcDriver libraryRef="jdbcLib" />
		<properties serverName="localhost" portNumber="3306" databaseName="userdb" user="app" password="P@ss1234" />
	</dataSource>

</server>